.transaction-contents {
  width: 100vw;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
}

.transaction-main {
  background-color: #FFF;
  width: 70vw;
  min-width: 450px;
  padding: 10vh 10vw;
}

.transaction-title-text {
  text-align: center;
  border-bottom: 2px solid #f5f5f5;
  font-weight: bold;
  font-size: 22px;
}

span.tooltipMsg2 {
  position: relative;
  display: inline-block;
  margin: 1.2em 0;
  padding: 0px 10px;
  min-width: 120px;
  /* max-width: 100%; */
  color: white;
  font-size: 20px;
  background: rgb(120, 120, 120);
  border-radius: 15px/15px;
  box-shadow: 0px 1px 15px 0px rgb(120, 120, 120);
  z-index: 10000;
  /* display: none; */
  }
span.tooltipMsg2:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -50px;
  border: 8px solid transparent;
  border-top: 8px solid rgb(120, 120, 120);
  }

  span.tooltipMsg3 {
    position: relative;
    display: inline-block;
    margin: 1.2em 0;
    padding: 0px 10px;
    min-width: 120px;
    /* max-width: 100%; */
    color: white;
    font-size: 20px;
    background: rgb(120, 120, 120);
    border-radius: 15px/15px;
    box-shadow: 0px 1px 15px 0px rgb(120, 120, 120);
    z-index: 10000;
    margin-left: 180px;
    /* display: none; */
    }
  span.tooltipMsg3:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -100px;
    border: 8px solid transparent;
    border-top: 8px solid rgb(120, 120, 120);
    }

/* 購入内容の表示 */
.buy-food-info {
  height: 150px;
  border-bottom: 2px solid #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buy-food-img {
  margin-right: 100px;
  height: 130px;
  width: 250px;
  object-fit: contain;
}

.buy-food-right-content {
  display: flex;
  flex-direction: column;
}

.buy-food-text {
  font-size: 20px;
}

.buy-food-area {
  display: flex;
  font-weight: bold;
  align-items: center;
  margin-top: 10px;
}

.food-area-name {
  font-size: 20px;
}

/* /購入内容の表示 */

/* 支払額の表示 */
.food-payment {
  height: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid #f5f5f5;
  font-weight: bold;
}

.food-payment-title {
  font-size: 20px;
}

.food-payment-price {
  font-size: 25px;
}

/* /支払額の表示 */

/* カード情報の入力 */
.credit-card-form {
  border-bottom: 2px solid #f5f5f5;
  margin-top: 15px;
  padding-bottom: 30px;
  text-align: center;
  
}

.info-input-haedline {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.available-card {
  display: flex;
  height: 35px;
}

.available-card{
  margin-left: 180px;
}

.card-logo {
  width: 40px;
  margin: 5px 5px;
  
}

.input-expiration-date-wrap {
  width: 100%;
  display: flex;
  text-align: center;
  line-height: 55px;
  justify-content: center;
}

.input-expiration-date {
  width: 20%;
  margin-top: 5px;
  height: 48px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
  line-height: 45px;
  text-align: center;
}

.form-text-wrap{
  display: flex;
  justify-content: left;
  margin-left:200px;
  margin-top:5px;
  margin-bottom: 5px;
}

.indispensable-2 {
  background: #ea352d;
  margin-left: 8px;
  padding: 10px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  
}

.input-default{
  width:50%;
  justify-content: center;
}


/* /カード情報の入力 */

/* 配送先の入力 */
.shipping-address-form {
  margin-top: 15px;
}

.form-any {
  background: #ccc;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  padding: 2px 4px;
}

.buy-btn {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}

.buy-red-btn {
  width: 100%;
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}

.input-default2{
  width:50%;
  margin-left: 180px;

}