/* ヘッダー */


.box1{
  height:100px;
  display:flex;
  justify-content: center;
  border-bottom: solid 3px #516ab6;
  font-size:45px;
  padding: 0.5em;
  
}

.beginapp-icon{
  margin-right: 10px;
}

.beginapp-text{
  color: #f38302;
}
.box2{
  background-color: #000000;
  font-size:25px;
  color: white;
  display:flex;
  list-style:none;
}

.box2-2{
  color:rgb(248, 56, 56);
}
.box3{
  background-color: #000000;
  font-size:25px;
  color: white;
  display:flex;
  list-style:none;
}

.btn-lg{
  width:250px;
  height:50px;
  margin: 20px 10px 20px 5px;
  
}

.btn-danger{
  font-size: 50px;
}

.alert-primary{
  font-size: 20px;
  display: flex;
  justify-content: center;
}


/* メイン */

.food-contents {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}

.food-contents>.title {
  font-size: 5vh;
  line-height: 1.4;
  font-weight: bold;
}

.food-contents>.subtitle {
  font-size: 3vh;
  margin: 1vh 0;
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

.food-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

.food-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: #FFF;
  margin: 0px 40px;
}


.food-img-content {
  position: relative;
}

.food-name{
  font-size: 3.5vh;
}
.food-img {
  width: 40vh;
  height: 40vh;
}

.food-area {
  background-color: #FFF;
  color: black;
  padding: 1vw;
  font-size: 3.5vh;
}

.food-price {
  font-size: 2.5vh;
  display: flex;
  justify-content: space-between;
}

/* //商品一覧 */

/* フッター */
.footer{
  background-color: #999;
  padding: 10px 0;
  height: 50px
}

.copyright{
  text-align: center;
  color: #fff;
  font-size: 20px;
}
